;(function ($) {

  <% unless Rails.env.production? %>
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };
  <% end %>

  var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>', {
    auth: {
      headers: {
        'X-CSRF-Token': $('meta[name=csrf-token]').attr('content')
      }
    }
  });
  var channel = pusher.subscribe('presence-chat');

  pusher.connection.bind('connected', function () {
    var socket_id = pusher.connection.socket_id;

    $('#socket_id').val(socket_id);
  });

  // Handle subscription events
  channel.bind('pusher:subscription_succeeded', function () {
    console.log('Subscription successful');
  });

  channel.bind('pusher:subscription_error', function () {
    console.log('Subscription failed');
  });
  // ------------------------------------------------

  // Handle member events
  channel.bind('pusher:member_added', function (member) {
    console.log(member.info.name + ' joined the room');
  });

  channel.bind('pusher:member_removed', function (member) {
    console.log(member.info.name + ' left the room');
  });
  // ------------------------------------------------

  channel.bind('new_message', function (data) {
    // Code smell - Duplicated view
    // It's exactly app/views/chat_messages/_chat_message.html
    $('.chat_messages').prepend('<li>' + data.name + ' says ' + data.message + '</li>');
  });
}(jQuery));
